body {
    font-size:62.5%
}
.editor {
    margin-bottom: 12px;
    padding: 0.4em;
    width: 95%;
}
/*form>fieldset>label, form>fieldset>input {*/
    /*display: block;*/
/*}*/
input.text {
    margin-bottom: 12px;
    padding: 0.4em;
    width: 95%;
}
input[type='checkbox'] {
    margin: 5px;
}
fieldset {
    border: 0 none;
    margin-top: 25px;
    padding: 0;
}
h1 {
    font-size: 1.2em;
    margin: 0.6em 0;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}
ul.CheckBoxList li{
    display: block;
}
ul.inline li{
    border: 1px solid lightgray;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    margin: 1px;
    padding-left: 4px;
}
.initialList {
    display: inline-block;
}

.compositeForm {
    clear: both;
}

::-webkit-input-placeholder {
    color:#999;
}

:-moz-placeholder {
    color:#999;
}

:-ms-input-placeholder {
    color:#999;
}

:required::-webkit-input-placeholder {
    color:#FF9999;
}

:required:-moz-placeholder {
    color:#FF9999;
}

:required:-ms-input-placeholder {
    color:#FF9999;
}

.form-fields {

}
.form-fields-part {
    display: inline-block;
    margin-right: 24px;
    vertical-align: top;
}

.form-dialog {
    width: auto !important;
}

/*input[type="button"], input[type="submit"] {*/
    /*margin-top: 10px;*/
    /*-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;*/
    /*-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;*/
    /*box-shadow:inset 0px 1px 0px 0px #ffffff;*/
    /*background-color:#f9f9f9;*/
    /*-moz-border-radius:6px;*/
    /*-webkit-border-radius:6px;*/
    /*border-radius:6px;*/
    /*border:1px solid #dcdcdc;*/
    /*display:inline-block;*/
    /*color:#666666;*/
    /*font-family:arial;*/
    /*font-size:12px;*/
    /*font-weight:bold;*/
    /*padding:6px 24px;*/
    /*text-decoration:none;*/
    /*text-shadow:1px 1px 0px #ffffff;*/
/*}*/

/*input[type="button"]:hover {*/
     /*background-color:#e9e9e9;*/
/*}*/

/*input[type="button"]:active {*/
      /*position:relative;*/
      /*top:1px;*/
/*}*/


/* jqgrid bootstrap */
.ui-jqgrid {
    border-color: #DDDDDD;
}

.ui-jqgrid-htable th {
    vertical-align: middle;
    height: 40px !important;
    border-left-color: #DDDDDD !important;
    /*padding: 9px 10px 9px 10px;*/
}

.ui-jqgrid tr.jqgrow td {
    height: 18px;
    padding: 9px 10px 9px 10px;
    border-bottom-color: #DDDDDD;
    border-left-color: #DDDDDD;
}

/*.ui-jqgrid .ui-jqgrid-resize-ltr {*/
    /*float: right;*/
    /*margin: -2px -11px -2px 0 !important;*/
/*}*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: #ffffff;
    background-image: none !important;
}

/*.ui-jqgrid tr.ui-row-ltr td {*/
    /*background-color: #F5F5F5 !important;*/
    /*background-color: #F5F5F5 !important;*/
/*}*/

.ui-jqgrid .altrow td {
    background-color: #FFFFFF !important;
}

.ui-jqgrid tr.jqgrow td {
    font-size: 13px;
}

.ui-jqgrid .altrow.ui-state-highlight td {
    background-color: #0088CC !important;
    color: #ffffff !important;
}

.ui-jqgrid tr.jqgrow td {
    background-color: #F5F5F5;
}

.ui-jqgrid tr.jqgrow.ui-state-highlight td {
    background-color: #0088CC !important;
    color: #ffffff !important;
}

.ui-jqgrid .ui-jqgrid-pager {
    height: 40px !important;
}

.ui-jqgrid .ui-pager-control {
    height: 100%;
}

.ui-jqgrid .ui-pg-selbox {
    height: 22px !important;
}
/* END jqgrid bootstrap */